[submodule "Dependencies/glfw"]
	path = Dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Dependencies/googletest"]
	path = Dependencies/googletest
	url = https://github.com/google/googletest.git
[submodule "Dependencies/spdlog"]
	path = Dependencies/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Dependencies/benchmark"]
	path = Dependencies/benchmark
	url = https://github.com/google/benchmark.git
[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Dependencies/stb"]
	path = Dependencies/stb
	url = https://github.com/nothings/stb.git
[submodule "Dependencies/tinyobjloader"]
	path = Dependencies/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "Dependencies/json"]
	path = Dependencies/json
	url = https://github.com/nlohmann/json.git
[submodule "Dependencies/SG14"]
	path = Dependencies/SG14
	url = https://github.com/WG21-SG14/SG14.git
